.section01 {
  width: 100%;
  height: 100vh;

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  background-image: url(../IMG/ondaCinza.png);
}
.title {
  margin-bottom: 80px;

  font-size: 25px;
}
.content {
  width: 80%;

  display: flex;
  justify-content: space-between;
}
.card {
  width: 300px;
  height: 50vh;

  box-shadow: 5px 5px 5px #000;
  border-radius: 10px;
  border: #1b1d1e 2px solid;

  background-color: #e0b740;
}
.section02 {
  width: 100%;
  height: 100vh;

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  background-color: #1b1d1e;
}

.section02 .content {
  width: 90%;
  display: flex;
  align-items: center;

  margin-bottom: 50px;
}

.title02 {
  margin-bottom: 80px;
  color: #fff;
  font-size: 25px;
}

.imgBTN {
  width: 50px;
  height: 50px;
}
.section02 button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

footer {
  box-shadow: 0px -10px 10px #e0b740;
}
